<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700;800&display=swap');
            </style>
        <link rel="stylesheet" href="../public/css/estilos.css">
    </head>
    <body>
        <h1> DH News </h1>
        <h3> Postado em 26/07/2022 </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur <strong>adipisicing</strong> elit.  Architecto voluptates hic odit nihil exercitationem enim velit saepe sed cumque harum tenetur dolorem nemo repellendus, dignissimos quidem natus dolore esse incidunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nam quod blanditiis ex maxime, accusantium esse provident doloribus, nobis commodi, quos non delectus error deserunt eligendi fugiat odio et placeat.
        </p>
        <img class="destaque" src="../public/img/destaque.webp" alt="Pessoas sentadas no saguão">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sed quas enim animi voluptate architecto nisi nostrum, aliquam laudantium sit? Possimus neque ea aspernatur architecto corporis vitae cumque eveniet saepe.</p>
        <ol id="lista"> <li>Lorem ipsum dolor, sit </li>
            <li>Lorem ipsum</li>
            <li>Lorem</li>
        </ol>
        <footer>
            <a href="http://facebook.com"><img src="../public/img/facebook.svg" alt=""></a>
            <a href="http://instagram.com"><img src="../public/img/instagram.svg" alt=""></a>
            <a href="http://youtube.com"><img src="../public/img/youtube.svg" alt=""></a>
            <a href="hhtp://linkedin.com"><img src="../public/img/linkedin.svg" alt=""></a>
        </footer>

    </body>

</html>

