<html>
    <head></head>
    <body>
        <h1> Dh news </h1>
        <h3> Postado em 26/07/2022 </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur <stronga>adipisicing</strong> elit.  Architecto voluptates hic odit nihil exercitationem enim velit saepe sed cumque harum tenetur dolorem nemo repellendus, dignissimos quidem natus dolore esse incidunt.
        </p>
        <img src="../public/img/destaque.webp" alt="Pessoas sentadas no saguão">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sed quas enim animi voluptate architecto nisi nostrum, aliquam laudantium sit? Possimus neque ea aspernatur architecto corporis vitae cumque eveniet saepe.</p>
        <ol><li>Texto 1 lalala...</li>
            <li>Texto 2 lalala..</li>
            <li>Texto 3 lalali</li>
        </ol>
    </body>
</html>